body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 400px;
    height: 400px;
}

.square {
    width: 50px;
    height: 50px;
}

.square.black {
    background-color: #769656;
}

.square.white {
    background-color: #eeeed2;
}
